<h1 face="Impact" style="margin-bottom: 30px;">KIOSK端末</h1>
<ul class="frex" style="margin-bottom: 30px;">
  <%= link_to(shops_path) do %>
  <section class="card">

    <div class="card-content">

    </div>
    <div class="card-link">
    </div>
  </section>
  <% end %>
  <section class="card">

    <div class="card-content">

    </div>
    <div class="card-link">
    </div>
  </section>
  <section class="card">

    <div class="card-content">

    </div>
    <div class="card-link">
    </div>
  </section>
</ul>
<ul class="frex">

  <section class="card">

    <div class="card-content">

    </div>
    <div class="card-link">
    </div>
  </section>
  <section class="card">

    <div class="card-content">

    </div>
    <div class="card-link">
    </div>
  </section>
  <section class="card">

    <div class="card-content">

    </div>
    <div class="card-link">
    </div>
  </section>
</ul>
