<h1>
  ウォークランキング&nbsp;&nbsp;&nbsp;
  <%= link_to("ポイント確認画面へ", confirmation_status_path, class: "btn btn-success", style: "color: #FFFFFF") %>
</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Point</th>
      <th>Moving</th>
    </tr>
  </thead>

  <tbody>
    <% @ranking_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.point %></td>
        <td><%= user.moving %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
