<h1 style="margin-left: 30px;">
  マイページ&nbsp;&nbsp;&nbsp;
  <%= link_to("ウォークランキングへ", confirmation_ranking_path, class: "btn btn-success", style: "color: #FFFFFF") %>
</h1>
<!-- 左側MENU -->
<div class="col-md-3">
  <section class="bs-component" style="margin-top: 30px;">
  <div class="list-group">
    <div style="text-align: center"><a class="list-group-item active" style="font-size: 20px;">
      MENU
    </a></div>
    <a href="#" class="list-group-item">ログイン情報
    </a>
    <a href="#" class="list-group-item">プロフィール
    </a>
    <a href="#" class="list-group-item">ポイント・移動距離
    </a>
    <a href="#" class="list-group-item">各種設定
    </a>
  </div>
</section>
</div>

<!-- 右側 -->
<div class="col-md-9">
  <section class="card-show" style="padding: 3px 30px;">
    <h2>&nbsp;&nbsp;ポイント・移動距離確認</h2>
    <div class="middle-card">ポイント</div>
    <p><%= @current_user.point %></p>
    <div class="middle-card">移動距離</div>
    <p><%= @current_user.moving.round(1) %></p>

  </section>
</div>
