<section class="card-comment-show">
  <p style="font-size: 16px;">以下の内容でコメントを送信しました</p>

  <p style="font-size: 20px; margin: 20px;">
    &nbsp;&nbsp;コメント:
    <strong><%= @comment.body %></strong>
  </p>
  <%= button_to "ショップへ戻る", shop_path(@comment.shop_id), :method => :get , :class => "btn btn-success" %>
</section>
