<p id="notice"><%= notice %></p>

<h1>Listing Shops</h1>


    <% @shops.each do |shop| %>
    <section class="card">
      <%= image_tag(shop.image, :class => "card-img", :alt => "") %>
      <div class="card-content">
        <h1 class="card-title"><%= shop.name %></h1>
        <p class="card-text"><%= shop.body %></p>
      </div>
      <div class="card-link">
        <a href="http://webcreatorbox.com/about">About</a>
        <a href="http://webcreatorbox.com/">Website</a>
      </div>
    </section>
    <% end %>
