<p id="notice"><%= notice %></p>

<section class="card-show">
  <h1 class="card-title-show"><%= @shop.name %></h1>
  <%= image_tag(@shop.image, :class => "card-img-show", :alt => "") %>
  <p>
    <strong>Body:</strong>
    <%= @shop.body %>
  </p>
</section>
