<h1>Map#index</h1>
<p>Find me in app/views/map/index.html.erb</p>
<div id="map"></div>
<style type="text/css">
  #map {
    height:700px;
  }
</style>
<script type="text/javascript">
    L.Icon.Default.imagePath = "/assets";
    var map = L.map('map').setView([39.703531, 141.152667],17);
    var osmUrl = "https://cyberjapandata.gsi.go.jp/xyz/ort/{z}/{x}/{y}.jpg";
    var osmAttrib = "Map data &COPY; OpenStreetMap contributors";
    L.tileLayer(osmUrl, {
        attribution: osmAttrib,
        maxZoom: 20,
    }).addTo(map);
</script>
<% @shops.each do |map| %>
    <script type="text/javascript">
        var popup = L.popup().setContent('<%= simple_format(h(map.name)) %><%= link_to '詳細', map %>');
        var marker = L.marker(
            [<%= map.latitude %>,<%= map.longitude %>],
            { name: map.name }
        ).addTo(map).bindPopup(popup);
    </script>
<% end %>